*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    display: block;
    width: 400px;
    margin: 30px auto;
}

.img{
    display: block;
    width: 200px;
    margin: 30px auto;
    /* box-shadow: 8px 8px 12px rgba(147, 20, 220, 0.651); */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.75)

}

.box{
    width: 100px;
    height: 100px;
    margin: 30px;
    background: steelblue;

    /* -- box-shadow: PARA COLOCAR SOMBRA A LAS CAJAS */
    /* -- box-shadow: h-offset v-offset brur spread color  */
    /* h-offset: Desplazamiento Horizontal de la sombra
    v-offser:Desplazamiento Vertical de la sombra
    blur: Indica que tanto se va a difuminar la sombra
    spread: Indica que tanto se va esparcir la sombra
    color: El color de la sombra*/


    /*-- Numeros negativos colocan la sombra a la izquierda en h-offset
    o hacia arriba en v-offset */

    /* box-shadow: 20px 10px 15px 20px lightcoral; */

    /*-- PARA AGREGAR MAS SOMBRAS: */
   /*  box-shadow: 100px 100px 20px 10px lightcoral,
     100px 0 darkblue,
     0 100px darkorchid
    ; */


    /* -- PARA RESALTAR UN ELEMENTO */
    box-shadow: 3px 3px 8px 2px crimson;
 
}

